body {
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px 0px;
  padding: 0px;
  background-color: #ECEBF3;
  font-family: helvetica;
}

.topnav {
  overflow: hidden;
  background-color: #1D3557;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #457B9D;
  color: white;
}

.heading{
  text-align: center;
  letter-spacing: 8px;
  padding-top: 125px;
  padding-bottom: 75px;
  color: #ECEBF3;
  background-color: #457B9D;
  margin-top: 0px;
}

.main{
  font-size: 18px;
}
.main_body{
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.links{
  display: grid;
  grid-template-columns: 350px 250px;
  grid-template-rows: 100px;
  justify-content: center;
  margin-bottom: 0px;
}
  .email{
    grid-column: 1;
    grid-row: 1;
    color: #457B9D;
  }
  .mobile{
    grid-column: 2;
    grid-row: 1;
    color: #457B9D;
  }

.social{
  text-align: center;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 50px;
  justify-content: center;
  margin-top: 0px;
}
  .linkedin{
    grid-column: 1;
    grid-row: 1;
  }
  .github{
    grid-column: 2;
    grid-row: 1;
  }
  .twitter{
    grid-column: 3;
    grid-row: 1;
  }
  .instagram{
    grid-column: 4;
    grid-row: 1;
  }

.footer{
  margin-left: 40%;
  margin-top: 100px;
  margin-bottom: 10px;
  }
