body{
  margin: 0px;
  padding: 0px;
  background-color: #19181D;
}

.cirlce{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: linear-gradient(#313247 0%, #19181D 30%);
  position: absolute;
  top: 25%;
  left: 39%;
}

.cirlce:before{
  content:'';
  height: 400px;
  width: 400px;
  background: linear-gradient(#FFD1DA 0%, #FF849D 5%, #2D2133 25%);
  border-radius: 50%;
  position: fixed;
  top: 22%;
  left: 39%;
  filter:blur(7px);
  z-index: -1;
}

.circle:after{
  width: 415px;
  top: 35%;
  position: fixed;
  filter: blur(14px);
  opacity: .3;
}

.coming_soon{
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  letter-spacing: 45px;
  position: fixed;
  top: 50%;
  left: 51%;
  transform: translateX(-50%);
}

.field{
  position: fixed;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}

.field input{
  height: 35px;
  width: 250px;
  background-color: #101113;
  outline: none;
  border: none;
  border-radius: 35px;
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  letter-spacing: 1px;
  padding-left: 15px;
}
.field button{
  height: 35px;
  width: 100px;
  background-color: #2E2D38;
  font-family: sans-serif;
  font-size: 11px;
  color: white;
  letter-spacing: 1px;
  border: none;
  border-radius: 35px;
  position: fixed;
  bottom: 2%;
  left: 437px;
  z-index: 999;

}
